<table class="table table-hover">
    <caption>LIST OF APPLICATIONS & SERVERS</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">APP ID</th>
                <th scope="col">APP NAME</th>
                <th scope="col">SERVER NAME</th>
                <th scope="col">EXPIRY DATE</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
    
            {{#each ALL_RECORDS}}
            <tr>
                <td scope="col" class="counterCell"></td>
                <td scope="col">{{this.appId}}</td>
                <td scope="col">{{this.appName}}</td>
                <td scope="col">{{this.serverName}}</td>
                <td scope="col">{{this.expDate}}</td>
                {{#isStatus this.expDate this.thresholdDays}}
                {{/isStatus}}
                <td scope="col" id="{{this.doc._id}}" data-toggle="tooltip" data-placement="top" title="CLICK TO VIEW"><i class="fas fa-eye"></i></td>
                <td scope="col" id="{{this.doc._id}}" data-toggle="tooltip" data-placement="top" title="CLICK TO EDIT"><i class="fas fa-edit"></i></td>
            </tr>
            {{/each}}
        </table>
    </script>
